In [68]:
from google.colab import drive

drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [69]:
%cd "/content/gdrive/MyDrive/Bloque 2 IA/Estadistica"
!ls

/content/gdrive/MyDrive/Bloque 2 IA/Estadistica
Apuntes.gdoc  Entregable  us2022q2a.csv  usfirms2022.csv

In [70]:
import plotly.express as px
import pandas as pd
import numpy as np

##Seleccion y limpieza de datos

In [71]:
df1 = pd.read_csv('us2022q2a.csv')
df2 = pd.read_csv('usfirms2022.csv')

Dropeamos columnas que son repetidas en el dataset y no nos son utiles para lo que deseamos

In [72]:
df1 = df1.drop(['fiscalmonth', 'year', 'cto'], axis=1)
df2 = df2.drop(['N', 'Country\nof Origin', 'Type of Asset'], axis=1)

Mergeamos los datos de los dos datasets

In [73]:
df_merge = df1.merge(df2, left_on='firm', right_on='Ticker')
df_merge

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,originalprice,sharesoutstanding,Ticker,Name,Class,Sector NAICS\nlevel 1,Exchange / Src,Sector\nEconomatica,Sector NAICS\nlast available,partind
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104.0000,452000.000,A,"Agilent Technologies, Inc",Com,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,...,73.7500,452271.967,A,"Agilent Technologies, Inc",Com,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,...,48.9375,453014.579,A,"Agilent Technologies, Inc",Com,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,...,54.7500,456366.381,A,"Agilent Technologies, Inc",Com,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,...,30.7300,456769.737,A,"Agilent Technologies, Inc",Com,Manufacturing,NYSE,Electric Electron,"Navigational, Measuring, Electromedical, and C...",0.124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9.838494e+03,0.0,-117.528220,-5.943,0.0,98195.904,...,5.2900,41251.537,ZYNE,"Zynerba Pharmaceuticals, Inc",Com,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323812,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,...,4.2400,41251.537,ZYNE,"Zynerba Pharmaceuticals, Inc",Com,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323813,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,...,2.8800,41217.537,ZYNE,"Zynerba Pharmaceuticals, Inc",Com,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323814,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,...,2.0500,42447.037,ZYNE,"Zynerba Pharmaceuticals, Inc",Com,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-
323815,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,...,1.1400,43595.959,ZYNE,"Zynerba Pharmaceuticals, Inc",Com,Manufacturing,NASDAQ,Chemical,Pharmaceutical and Medicine Manufacturing,-

Dropeamos los servicios que no son industriales

In [74]:
df2_services = df_merge.copy()
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Manufacturing')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Finance and Insurance')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Information')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Retail Trade')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Mining, Quarrying, and Oil and Gas Extraction')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Wholesale Trade')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Utilities')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Transportation and Warehousing')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Real Estate and Rental and Leasing')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Health Care and Social Assistance')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Construction')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Arts, Entertainment, and Recreation')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == '-')].index)
df2_services = df2_services.drop(df2_services[(df2_services['Sector NAICS\nlevel 1'] == 'Agriculture, Forestry, Fishing and Hunting')].index)

Obtenemos las R de cada registro

In [75]:
df2_services['R'] = np.log(df2_services.groupby(['firm'])['adjprice'].shift(-1)) - np.log(df2_services.groupby(['firm'])['adjprice'].shift(3))

Dropeamos todos los datos, a excepcion de el ultimo cuartil

In [76]:
df_mask = df2_services['q'] == '2022q1'
df3 = df2_services[df_mask]

Dropeamos columnas que no se usaran en los calculos de nuestras variables independientes

In [77]:
df3 = df3.drop(
    [
        'extraincome', 
        'shortdebt', 
        'longdebt', 
        'stockholderequity', 
        'Ticker', 
        'Name', 
        'Class',
        'Exchange / Src',
        'Sector\nEconomatica',
        'Sector NAICS\nlast available',
        'partind'
      ],
       axis=1)

In [78]:
df3['revenue'].describe()

count    3.720000e+02
mean     9.212180e+05
std      3.942143e+06
min      0.000000e+00
25%      6.649075e+04
50%      1.981825e+05
75%      7.438012e+05
max      6.801100e+07
Name: revenue, dtype: float64

Dropeamos los nan en la variable R

In [79]:
df_mask = df3['R'] > 0
df3 = df3[df_mask]

Calculamos Book to market ratio, epsp y opm a partir de los datos

In [80]:
df3['Book'] = df3['totalassets'] - df3['totalliabilities']
df3['Market'] = df3['originalprice'] * df3['sharesoutstanding']


df3['EBIT'] = df3['revenue'] - df3['cogs'] - df3['sgae'] - df3['otheropexp']
df3['NetIncome'] = df3['EBIT'] - df3['incometax'] - df3['finexp']
df3['EPS'] = df3['NetIncome'] / df3['sharesoutstanding']


df3['EPSP'] = df3['EPS'] / df3['originalprice']
df3['OPM'] = df3['EBIT'] / df3['revenue']
df3['Book_to_Market_ratio'] = df3['Book'] / df3['Market']

Dropeamos los nan en las variables de OPM, EPSP Y Book_to_Market_ratio

In [81]:
df3['R'].describe()

count    64.000000
mean      0.194677
std       0.223939
min       0.003957
25%       0.071489
50%       0.133235
75%       0.269808
max       1.591808
Name: R, dtype: float64

In [82]:
df_mask = df3['R'] >= -5
df_clean = df3[df_mask]

In [83]:
df_clean['EPSP'].describe()

count    64.000000
mean      0.012926
std       0.023902
min      -0.029480
25%       0.003823
50%       0.008263
75%       0.015408
max       0.157480
Name: EPSP, dtype: float64

In [84]:
df_mask = df_clean['EPSP'] >= -5
df_clean_2 = df_clean[df_mask]

In [85]:
df_clean_2['Book_to_Market_ratio'].describe()

count    64.000000
mean      0.302797
std       0.250904
min      -0.247891
25%       0.108701
50%       0.254069
75%       0.425732
max       1.119752
Name: Book_to_Market_ratio, dtype: float64

In [86]:
df_mask = df_clean_2['Book_to_Market_ratio'] >= -5
df_clean_3 = df_clean_2[df_mask]

In [87]:
df_clean_2['OPM'].describe()

count    64.000000
mean      0.130387
std       0.122849
min      -0.107435
25%       0.046636
50%       0.099495
75%       0.188092
max       0.441066
Name: OPM, dtype: float64

Sorteamos los datos por mercado

In [88]:
df_clean_3 = df_clean_3.sort_values(by = 'Market')

In [89]:
df_clean_3 = df_clean_3.reset_index()
df_clean_3 = df_clean_3.drop(['index'], axis = 1)

In [90]:
df_clean_3 = df_clean_3.reset_index()

Asignamos las varuables dummys para obtener las grandes, medianas y grandes empresas

In [91]:
df_clean_3["isSmall"] = df_clean_3.index <= len(df_clean_3) / 3
df_clean_3["isSmall"] = df_clean_3["isSmall"].astype(int)

df_clean_3["isMedium"] = (df_clean_3.index <= (2 * len(df_clean_3) / 3)) & (df_clean_3.index > (len(df_clean_3) / 3))
df_clean_3["isMedium"] = df_clean_3["isMedium"].astype(int)

Guardamos las variables que usaremos para el calculo matricial

In [92]:
Variables = df_clean_3[['EPSP', 'OPM', 'Book_to_Market_ratio', 'isSmall', 'isMedium', 'R']]
Variables_mat = Variables.cov().to_numpy()

Dividimos las variables en 'X' y 'y'

In [93]:
X = df_clean_3[['EPSP', 'OPM', 'Book_to_Market_ratio', 'isSmall', 'isMedium']]
y = df_clean_3['R']

In [97]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

print(vif_data)

                feature       VIF
0                  EPSP  1.624803
1                   OPM  1.655611
2  Book_to_Market_ratio  2.886763
3               isSmall  2.256689
4              isMedium  2.096322

Como podemos ver, al tener un vif de menos de 1.5 en todas las variables, no existe multicolienaridad en los datos, por lo que no se necesita generar cambios en estos

##Matriz de varianza y covarianza

Seguimos las formula del documento https://docs.google.com/viewer?a=v&pid=sites&srcid=ZWdhZGVyemMubmV0fGZ6MzAzMHxneDozOTI1ODBmMGU2YTMzZGM1

Para obtener la matriz de varianza y covarianza

In [ ]:
X_varcov_mat = X.to_numpy()

In [ ]:
X_varcov_trans = np.transpose(X_varcov_mat)

In [ ]:
aux1 = np.dot(X_varcov_trans, X_varcov_mat)

In [ ]:
unos = np.zeros((X_varcov_trans.shape[1], 1))

In [ ]:
unos = 1 + unos

In [ ]:
aux2 = np.dot(X_varcov_trans, unos)

In [ ]:
aux3 = np.transpose(aux2)

In [ ]:
aux4 = np.dot(aux2, aux3)

In [ ]:
aux5 = aux4 / X_varcov_mat.shape[0]

In [ ]:
aux6 = aux1 - aux5

In [ ]:
mat_varcov = aux6 / (X_varcov_mat.shape[0] - 1)

In [ ]:
mat_varcov

In [ ]:
mat = pd.DataFrame(mat_varcov)

In [ ]:
mat

In [ ]:
X.cov()

Comprobamos que las varianzas son iguales en nuestro calculo y lo obtenido por medio de pandas, por lo que la matriz es correcta

##Matriz de correlaciones

Seguimos la formula de correlacion obtenida a base de los standar deviations y la matriz de varianza y covarianza

In [ ]:
var = np.diagonal(mat_varcov)

In [ ]:
stdr_dev = np.sqrt(var)

In [ ]:
stdr_dev

In [ ]:
ya_no_se = [[ 0 for y in range( len(stdr_dev) ) ] for x in range( len(stdr_dev) )]
for i in range(len(stdr_dev)):
  for j in range(len(stdr_dev)):
    ya_no_se[i][j] = stdr_dev[i] * stdr_dev[j]

In [ ]:
corr = [[ 0 for y in range( len(ya_no_se) ) ] for x in range( len(ya_no_se) )]
for i in range(len(ya_no_se)):
  for j in range(len(ya_no_se)):
    corr[i][j] = mat_varcov[i][j] / ya_no_se[i][j]

In [ ]:
corr

In [ ]:
X.corr()

Comprobamos que las correlaciones son iguales en nuestro calculo y lo obtenido por medio de pandas, por lo que la matriz es correcta

##Betas

Seguimos la siguiente formula para obtener las betas

Primer valor de x son 1

x´ es x transpuesta

x^1 es x inversa

(x´x)^-1x´y

In [ ]:
X['1'] = 1

In [ ]:
X = X[['1', 'isSmall', 'isMedium', 'EPSP', 'OPM', 'Book_to_Market_ratio']]

In [ ]:
X_mat = X.to_numpy()

In [ ]:
X_t = np.transpose(X_mat)

In [ ]:
X_sqr = np.dot(X_t, X_mat)

In [ ]:
X_inv = np.linalg.inv(X_sqr)

In [ ]:
aux = np.dot(X_inv, X_t)

In [ ]:
B = np.dot(aux, y)

In [ ]:
B

###Comprobación

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
mod = smf.ols('R ~ isSmall + isMedium + EPSP + OPM + Book_to_Market_ratio', data = df_clean_3).fit()

print(mod.summary())

Comprobamos que las betas son iguales en nuestro calculo y lo obtenido por medio de ols, por lo que las betas son correctas

###MSE

In [ ]:
y_pred = X * B

In [ ]:
y_pred['sum'] = y_pred['1'] + y_pred['isSmall'] + y_pred['isMedium'] + y_pred['EPSP'] + y_pred['OPM'] + y_pred['Book_to_Market_ratio']

In [ ]:
E = y - y_pred['sum']

In [ ]:
aux = E * E

Matriz de errores

In [ ]:
aux

In [ ]:
MSE = aux.sum()

In [ ]:
MSE